body {
  padding-top: 3.5rem;
}
.carousel-item {
  height: calc(100vh - 3.5rem);
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.d-md-block {
  background-color: rgba(224,30,39,0.6);
}
.navbar {
  background-color: rgb(251, 234, 52);
}
.navbar {
  transition: top 0.5s ease;
}
.navbar-hide {
  top: -56px;
}
/* .parallax { 
  background-image: url("/img/pic1.jpg"); 
  min-height: 500px;  
  background-attachment: fixed; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
} */
section {
  height: 100vh;
  /* min-height: 500px; */
}

.g-img1 {
  background-image: url("/img/pic1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.g-img2 {
  background-image: url("http://up.enterdesk.com/edpic_source/21/00/00/210000f8e772d7fc0758e67ae4b48807.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.g-img3 {
  background-image: url("https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
