[role="main"] {
  padding-top: 56px;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: opacity 2s linear;
}
.d-md-block {
  background-color: rgba(224,30,39,0.6);
}
.colc-navbar {
  background-color: rgba(251, 234, 52, 0.9);
}
.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.img1 {
  background-image: url('http://192.168.31.56:8080/img/pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Timeline v1 */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}
ul.timeline:before {
  content: ' ';
  background: #eee;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}
li.timeline-item {
  margin: 20px 0;
}
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #f8f9fa;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
li.timeline-item.highlight {
  color: #fff;
  background-color: #00b0bd!important;
}
li.timeline-item.highlight .timeline-arrow {
  border-right: 0.5rem solid #00b0bd!important;
}
li.timeline-item.highlight::before {
  background: #00b0bd!important;
  box-shadow: 0 0 5px rgba(0, 176, 189, 0.9);
}