[role="main"] {
  padding-top: 56px;
  padding-bottom: 2rem;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: opacity 2s linear;
}
.d-md-block {
  background-color: rgba(224,30,39,0.6);
}
.colc-navbar {
  background-color: rgba(251, 234, 52, 0.9);
}
.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.img1 {
  background-image: url('../img/pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #eee;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* timeline-item around content */
.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the timeline-item to the left */
.timeline-left {
  left: 0;
}

/* Place the timeline-item to the right */
.timeline-right {
  left: 50%;
}

/* Add arrows to the left timeline-item (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f8f9fa;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f8f9fa;
}

/* Add arrows to the right timeline-item (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f8f9fa;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f8f9fa transparent transparent;
}

/* Fix the circle for timeline-items on the right side */
.timeline-right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.timeline-left.highlight::before {
  border: medium solid #00b0bd;
  border-color: transparent transparent transparent #00b0bd;
  border-width: 10px 0 10px 10px;
}
.timeline-right.highlight::before {
  border: medium solid #00b0bd;
  border-width: 10px 10px 10px 0;
  border-color: transparent #00b0bd transparent transparent;
}
.highlight .content, .block .content {
  color: #fff;
  background-color: #00b0bd!important;
}
.block .content {
  text-align: center;
}
.timeline-item.block {
  left: 0;
  width: 100%;
  padding: 40px 40px;
  z-index: 1;
}
.timeline-item.block::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  margin: auto;
}
.timeline-item.block::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  border: medium solid #00b0bd;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #00b0bd transparent;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width timeline-items */
  .timeline-item {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  .timeline-item.block {
    width: 100%;
    padding: 10px 40px;
    left: 0;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-item::before, .timeline-item.block::before {
    top: 22px;
    right: auto;
    left: 60px;
    border: medium solid #f8f9fa;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f8f9fa transparent transparent;
  }

  .timeline-item.block::before {
    border: medium solid #00b0bd;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00b0bd transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after, .timeline-item.block::after {
    top: 20px;
    left: 18px;
    right: auto;
  }
  
  /* Make all right timeline-items behave like the left ones */
  .timeline-right {
    left: 0%;
  }

}